@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* font-family: 'Noto Sans KR', sans-serif; */
/* Thin 250, Light 300, DemiLight 350, Regular 400, Medium 500, Bold 700, Black 900 */
/* 100, 300,400, 500,700,900 */
/* 이슈 : 2018년 01월 15일 나눔웹폰트를 시작으로 01월 24일 본고딕 웹폰트 링크 변경으로  */
/*
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}
*/

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),	
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),	
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),	
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),	
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),	
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),	
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
/*
# Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
Regular 400,
Bold 700 
800
*/

/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */

/*
# Nanum Barun Gothic
UltraLight 200,
Light 300,
Regular 400,
Bold 700

@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css");
*/


/* Base Style Start */
/* * {margin: 0; padding: 0; border: 0; box-sizing: border-box; -moz-box-sizing: border-box;} */

html, body {position: relative; width: 100%; height: 100%; margin: 0px auto; padding: 0;}
body, div, ul, li, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, table, form {margin: 0; padding: 0; border: 0;}

body {
	position: relative;
	font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', sans-serif; word-break: keep-all; /* word-break: break-all; */ word-wrap: break-word;
	font-size : 14px; font-weight: normal; color: #666;
	background-color: #f2f3f8;

	min-width: 320px;
}
/* Base Style End */
/* Text Base Style Start */
dl, dt, dd, ul, ol, li, p {list-style : none; /* for smartEditor text-align : justify; */ vertical-align : middle; letter-spacing : 0px; line-height: 1.5em; }

h1 {font-weight: bold; color: #222; font-size: 36px; line-height: 50px;}
h2 {font-weight: bold; color: #222; font-size: 30px; line-height: 40px;}
h3 {font-weight: bold; color: #222; font-size: 24px; line-height: 30px;}
h4 {font-weight: bold; color: #222; font-size: 18px; line-height: 30px;}
h5 {font-weight: bold; color: #222; font-size: 14px; line-height: 25px;}
h6 {font-weight: bold; color: #222; font-size: 12px; line-height: 20px;}

.bold	{font-weight: bold !important;}
.left	{text-align: justify !important;}
.center	{text-align: center !important;}
.right	{text-align: right !important;}

.round3 {border-radius: 3px; overflow: hidden;}
.round5 {border-radius: 5px; overflow: hidden;}
.round10 {border-radius: 10px; overflow: hidden;}

.pColor01 {color: #f9df34;}
.pColor01dark {}
.pColor01light {}
.pColoe01lightGray {}

.pColorRed {color: #d63434;}

/* Text Base Style Start */

img {border: none; margin: 0; padding: 0;}

/* a href Style Start */
a {letter-spacing: 0px;	margin: 0; text-align: justify; text-decoration: none; outline: 0; color: #444;}
a:hover {text-decoration: underline; color: #222;}
a.bottomBtn {float: left; display: block; width: 120px; height: 40px; margin: 0 5px; line-height: 40px; font-size: 16px; font-weight: 300; color: #fff; text-align: center; background-color: #444;}
a.bt120 {display: inline-block; width: 120px; height: 30px; line-height: 30px; font-size: 14px; font-weight: 300; color: #fff; text-align: center; background-color: #444;}
a.bt60 {display: inline-block; width: 60px; height: 30px; line-height: 30px; font-size: 14px; font-weight: 300; color: #fff; text-align: center; background-color: #444;}
a.bt50 {display: inline-block; width: 50px; height: 30px; line-height: 30px; font-size: 14px; font-weight: 300; color: #fff; text-align: center; background-color: #1b2e5a; color:#fff;}
a.bt40 {float: left; display: block; margin-left:5px; width: 40px; height: 30px; line-height: 30px; font-size: 14px; font-weight: 300; color: #fff; text-align: center; background-color: #444;}

/* a href Style End */

.dummy {clear: both; width: 100%; height: 0; border: 0; margin: 0; padding: 0; line-height: 0; font-size: 0;}
.line01 {width: 100%; height: 1px; border: 0; margin: 0; padding: 0; line-height: 0; font-size: 0; background-color: #dddddd;}

.hidden {display: none;}

.clearFix:after {content:""; display: block; clear: both;} /* 부모창에 자식창의 높이를 알려주는 권장방법 */
.clearFix {*zoom: 1;} /* IE5.5 ~ 7 브라우저 대응 핵 */

/* form 요소 Start */
input[type=text],
input[type=textarea],
textarea {font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', sans-serif; display: inline-block; vertical-align: middle; resize: none;}
/*
input[type=checkbox] {width: 20px; height: 20px;}
input[type=radio] {width: 20px; height: 20px;}
*/
/* input[placeholder], [placeholder],*[placeholder] {color: #bbb !important; font-weight: bold; font-size: 14px !important;} */
/* Webkit Browsers */
/* Mozilla FF 4 ~ 18 */
/* Mozilla FF 19+ */
/* IE 10~ */
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {color: #999; font-weight: 300; font-size: 13px;}

textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {color: #999; font-weight: 300; font-size: 13px;}

.formField {display: inline-block; height: 30px; line-height: 20px; box-sizing: border-box; padding: 4px; font-size : 13px; font-weight: normal; color : #333; vertical-align: middle; border: 1px #ddd solid; background-color: #fdfdfd; border-radius: 0px;} /* box-sizing: inherit; */
.formField:focus {border: 1px #444 solid; background-color: #fff;}
select {
	font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', sans-serif;
	display: inline-block; height: 30px; line-height: 20px; padding: 4px; font-size : 13px; font-weight: normal; color : #333; vertical-align: middle; background-color : #fdfdfd; border: 1px #ddd solid;
	border-radius: 0px;
}
select:focus {border: 1px #444 solid; background-color : #fff;}
/* form 요소 End */

/* Table Base Style Start */
table {table-layout: fixed; width: 100%; margin: 0 auto; padding: 0; border-collapse: separate; border-spacing: 0; font-size: 13px; border-top: 1px #444 solid;}
table caption {display: none;}
table thead th {border-top: 1px #ddd solid; border-bottom: 1px #ddd solid;}
table thead th {color: #444; background-color: #f9f9f9; border-bottom: 1px #ddd solid; line-height: 30px; text-align: center;}
table th, table td {padding: 10px 5px 9px; border-left: 1px #ddd solid; border-right: 0; border-top: 0; font-weight: 300;}
table th:first-child, table td:first-child {border-left: 0;}
table td {color: #444; border-bottom: 1px #ddd solid; line-height: 1.6em;}
table tbody th {color: #444; font-weight: bold; background-color: #f9f9f9; border-bottom: 1px #ddd solid;  line-height: 30px; border-left: 1px #ddd solid;}
/* Table Base Style End */

/* Slide Animation */
.slideanim {visibility: hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
	0% {opacity: 0; transform: translateY(70%);} 
	100% {opacity: 1; transform: translateY(0%);}
}
@-webkit-keyframes slide {
	0% {opacity: 0; -webkit-transform: translateY(70%);} 
	100% {opacity: 1; -webkit-transform: translateY(0%);}
}

/* 웹접근성을 위한 본문 바로가기 : Navigation Skip (메뉴 스킵) */
.bind {position: absolute; top: 0; left: 0; width: 1px; height: 1px; overflow: hidden; visibility: hidden; font-size: 0px; line-height: 0px;}
/* 웹접근성을 위한 본문 바로가기 : Navigation Skip (메뉴 스킵) */

#loginWrap {position: relative; display: block; width: 100%; height: 100%; min-height: 680px; background: url('../img/anticall/intranetLoginBG.jpg') center center no-repeat; background-size: cover; transition: all 0.3s;}

#loginWrap .loginArea {position: absolute; top: 120px; left: 50%; margin-left: -200px; display: block; width: 400px; height: 560px; z-index: 1; transition: all 0.3s;}
#loginWrap .loginArea .titleArea {width: 100%; height: 100px; transition: all 0.3s;}
#loginWrap .loginArea .titleArea > .institution {width: 100%; height: 40px; line-height: 40px; font-size: 32px; font-weight: 200; color: #fff; text-align: center; letter-spacing: -1px; transition: all 0.3s;}
#loginWrap .loginArea .titleArea > h1 {width: 100%; height: 60px; line-height: 60px; font-size: 48px; font-weight: 700; color: #fff; text-align: center; letter-spacing: -1px; transition: all 0.3s;}
#loginWrap .loginArea .titleLine {display: block; width: 150px; height: 1px; margin: 20px auto 39px; padding: 0; line-height: 0; font-size: 0; background-color: #fff; transition: all 0.3s;}
#loginWrap .loginArea .loginBox {position: relative; display: block; width: 300px; height: 400px; margin: 0 auto; box-sizing: border-box; border: 1px rgba(255,255,255,0.4) solid; border-radius: 5px; background-color: rgba(255,255,255,0.3); transition: all 0.3s;}
#loginWrap .loginArea .loginBox > .welcome {width: 100%; height: 59px; line-height: 59px; font-size: 20px; font-weight: 300; color: #fff; text-align: center; transition: all 0.3s;}
#loginWrap .loginArea .loginBox .formArea {position: absolute; top: 60px; left: 50%; margin-left: -200px; display: block; width: 400px; height: 280px; box-sizing: border-box; padding: 40px 50px; border-radius: 30px; box-shadow: 0 0 10px 0 #888; background-color: #eee; z-index: 1; transition: all 0.3s;}
#loginWrap .loginArea .loginBox .formArea > form > input {display: block; width: 100%; height: 40px; box-sizing: border-box; padding: 10px 20px; border: 0; line-height: 20px; font-size: 14px; font-weight: 500; color: #444; border-radius: 3px;}
#loginWrap .loginArea .loginBox .formArea > form > input:nth-child(1) {margin-top: 5px;}
#loginWrap .loginArea .loginBox .formArea > form > input:nth-child(2) {margin-top: 10px;}
#loginWrap .loginArea .loginBox .formArea .cookie {display: block; width: 100%; height: 30px; margin-top: 5px;}
#loginWrap .loginArea .loginBox .formArea .cookie label {line-height: 30px; font-size: 14px; font-weight: 300; color: #222;}
#loginWrap .loginArea .loginBox .formArea > form > a {display: block; width: 100%; height: 40px; line-height: 40px; font-size: 14px; font-weight: 500; color: #fff; margin: 0 auto; text-align: center; border-radius: 3px; background-color: #5e8fff; text-decoration: none; transition: all 0.3s;}
#loginWrap .loginArea .loginBox .formArea > form > a:hover {background-color: #222;}
#loginWrap .loginArea .loginBox .formArea .manual {width: 100%; height: 30px; text-align: right;}
#loginWrap .loginArea .loginBox .formArea .manual a {height: 30px; line-height: 30px; font-size: 14px; font-weight: 300; color: #666; text-decoration: underline;}
#loginWrap .loginArea .loginBox .formArea .manual a:hover {color: #222;}
#loginWrap .loginArea .loginBox > p.copyright {position: absolute; bottom: 0; left: 0; display: block; width: 100%; height: 59px; box-sizing: border-box; padding: 19px 0 20px; line-height: 20px; font-size: 12px; font-weight: 300; color: #444; text-align: center; transition: all 0.3s;}

@media screen and (max-width: 660px) {
	#loginWrap {min-height: 540px;}
	#loginWrap .loginArea {top: 80px; margin-left: -150px; display: block; width: 300px; height: 460px;}
	#loginWrap .loginArea .titleArea {height: 70px;}
	#loginWrap .loginArea .titleArea > .institution {height: 30px; line-height: 30px; font-size: 26px;}
	#loginWrap .loginArea .titleArea > h1 {height: 40px; line-height: 40px; font-size: 36px;}
	#loginWrap .loginArea .titleLine {width: 100px; margin: 20px auto 29px;}
	#loginWrap .loginArea .loginBox {width: 280px; height: 340px;}
	#loginWrap .loginArea .loginBox > .welcome {height: 39px; line-height: 39px; font-size: 18px;}
	#loginWrap .loginArea .loginBox .formArea {top: 40px; margin-left: -150px; width: 300px; height: 260px; padding: 30px 40px;}
	#loginWrap .loginArea .loginBox > p.copyright {height: 39px; padding: 9px 0 10px;}
}

#wrap {position: relative; width: 100%; height: auto; min-height: 100%; padding: 0; margin: 0 auto; background: url('../img/anticall/wrapBG.jpg') center bottom no-repeat; background-size: cover;}

	.headArea {position: relative; width: 100%; height: 100px; background-color: #fff;}
	.headArea > .topLine {width: 100%; height: 20px; background-color: #5e8fff;}
	.headArea > #subMenuBg {position: absolute; top: 100px; left: 0; display: none; width: 100%; height: 40px; background-color: #475061; z-index: 1;}
	.headArea > #subMenuBg.on {display: block;}
	.headArea > .menuArea {position: relative; display: block; width: 100%; height: 80px; margin: 0 auto; box-shadow: 0 -3px 4px 2px #555;}
	.headArea > .menuArea > h1.ci {position: absolute; top: 0; left: 0; display: block; width: 280px; height: 80px; box-sizing: border-box; padding: 20px; z-index: 1; transition: all 0.3s;}
	.headArea > .menuArea > h1.ci > a {display: block; width: 100%; height: 100%; line-height: 40px; font-size: 16px; font-weight: 500; color: #222;}
	.headArea > .menuArea > h1.ci > a > img {float: left;}

	.headArea > .menuArea > .naviMenu {position: absolute; top: 0; left: 50%; margin-left: -300px; width: 750px; height: 80px; box-sizing: border-box; border: 0; background: none; z-index: 1; transition: all 0.3s;}
	.headArea > .menuArea > .naviMenu > li {position: relative; float: left; width: 14%; height: 80px; background: none; transition: all 0.3s;}
	.headArea > .menuArea > .naviMenu > li > a {position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; z-index: 1;}
	.headArea > .menuArea > .naviMenu > li > .icon {display: block; width: 40px; height: 40px; margin: 10px auto 0; background-image: url('../img/anticall/iconMenuSet.png'); background-repeat: no-repeat; transition: all 0.3s;}
	.headArea > .menuArea > .naviMenu > li:nth-child(1) > .icon {background-position: 0 -40px;}
	.headArea > .menuArea > .naviMenu > li:nth-child(2) > .icon {background-position: -40px -40px;}
	.headArea > .menuArea > .naviMenu > li:nth-child(3) > .icon {background-position: -80px -40px;}
	.headArea > .menuArea > .naviMenu > li:nth-child(4) > .icon {background-position: -120px -40px;}
	.headArea > .menuArea > .naviMenu > li:nth-child(5) > .icon {background-position: -160px -40px;}
	.headArea > .menuArea > .naviMenu > li:nth-child(6) > .icon {background-position: -200px -40px;}
	.headArea > .menuArea > .naviMenu > li:nth-child(7) > .icon {background-position: -240px -40px;}
	.headArea > .menuArea > .naviMenu > li.fix:nth-child(1) > .icon,
	.headArea > .menuArea > .naviMenu > li:hover:nth-child(1) > .icon {background-position: 0 0;}
	.headArea > .menuArea > .naviMenu > li.fix:nth-child(2) > .icon,
	.headArea > .menuArea > .naviMenu > li:hover:nth-child(2) > .icon {background-position: -40px 0;}
	.headArea > .menuArea > .naviMenu > li.fix:nth-child(3) > .icon,
	.headArea > .menuArea > .naviMenu > li:hover:nth-child(3) > .icon {background-position: -80px 0;}
	.headArea > .menuArea > .naviMenu > li.fix:nth-child(4) > .icon,
	.headArea > .menuArea > .naviMenu > li:hover:nth-child(4) > .icon {background-position: -120px 0;}
	.headArea > .menuArea > .naviMenu > li.fix:nth-child(5) > .icon,
	.headArea > .menuArea > .naviMenu > li:hover:nth-child(5) > .icon {background-position: -160px 0;}
	.headArea > .menuArea > .naviMenu > li.fix:nth-child(6) > .icon,
	.headArea > .menuArea > .naviMenu > li:hover:nth-child(6) > .icon {background-position: -200px 0;}
	.headArea > .menuArea > .naviMenu > li.fix:nth-child(7) > .icon,
	.headArea > .menuArea > .naviMenu > li:hover:nth-child(7) > .icon {background-position: -240px 0;}
	.headArea > .menuArea > .naviMenu > li > p {display: block; width: 100%; height: 30px; box-sizing: border-box; padding: 0; line-height: 30px; font-size: 14px; font-weight: 300; color: #222; text-align: center;}

	.headArea > .menuArea > .naviMenu > li > .subMenu {position: absolute; display: none; top: 80px; width: 600px; height: 40px; background-color: #475061; z-index: 2;}
	/* .headArea > .menuArea > .naviMenu > li.fix > .subMenu {display: block !important;} */
	.headArea > .menuArea > .naviMenu > li > .sm01 {left: 0;}
	.headArea > .menuArea > .naviMenu > li > .sm02 {left: 0;}
	.headArea > .menuArea > .naviMenu > li > .sm03 {left: -40px;}
	.headArea > .menuArea > .naviMenu > li > .sm04 {left: 0;}
	.headArea > .menuArea > .naviMenu > li > .sm05 {left: -320px;}
	.headArea > .menuArea > .naviMenu > li > .subMenu > li {float: left; display: block; min-width: 40px; box-sizing: border-box; padding: 0 20px; height: 40px; background: none; transition: all 0.3s;}
	.headArea > .menuArea > .naviMenu > li > .subMenu > li.on {background-color: #292b39;}
	.headArea > .menuArea > .naviMenu > li > .subMenu > li:hover {background-color: #535d70;}
	.headArea > .menuArea > .naviMenu > li > .subMenu > li > a {display: block; width: 100%; height: 100%; line-height: 40px; font-size: 14px; font-weight: 300; color: #fff; text-align: center;}

	.headArea > .menuArea > .logout {position: absolute; top: 0; right: 0; width: 160px; height: 80px; box-sizing: border-box; padding: 20px; z-index: 1; transition: all 0.3s;}
	.headArea > .menuArea > .logout > a {display: block; width: 120px; height: 40px; box-sizing: border-box; padding-left: 20px; border-radius: 3px; background: url('../img/anticall/iconLogout.png') right 20px center no-repeat #b9c1cb; transition: all 0.3s;}
	.headArea > .menuArea > .logout > a > span {line-height: 40px; font-size: 14px; font-weight: 500; color: #fff; text-align: left; text-decoration: none;}
	.headArea > .menuArea > .logout > a:hover {background-color: #222;}

	.headArea > .menuArea > .toggle	{position: absolute; top: 20px; left: -60px; display: none; width: 40px; height: 40px; box-sizing: border-box; padding: 0; border-radius: 50%; background-image: url('../img/anticall/toggleMenu.png'); background-position: 0 0; background-repeat: no-repeat; background-color: #b9c1cb;  z-index: 1; transition: all 0.3s;}
	.headArea > .menuArea > .toggle:hover {background-color: #98a3b1;}

	@media screen and (max-width: 1220px) {
		.headArea > .menuArea > .naviMenu {margin-left: -200px; width: 400px;}
		.headArea > .menuArea > .naviMenu > li > .subMenu {width: 500px;}
		.headArea > .menuArea > .naviMenu > li > .sm01 {left: -30px;}
		.headArea > .menuArea > .naviMenu > li > .sm02 {left: 0;}
		.headArea > .menuArea > .naviMenu > li > .sm03 {left: -100px;}
		.headArea > .menuArea > .naviMenu > li > .sm04 {left: 0;}
		.headArea > .menuArea > .naviMenu > li > .sm05 {left: -280px;}
		.headArea > .menuArea > .naviMenu > li > .subMenu > li {padding: 0 10px;}
	}
	@media screen and (max-width: 980px) {
		.headArea {position: relative; width: 100%; height: 80px; background-color: #fff;}
		.headArea > .topLine {display: none;}
		.headArea > .menuArea > h1.ci {left: 50%; margin-left: -100px; width: 200px; height: 80px; box-sizing: border-box; padding: 20px 0;}
		.headArea > .menuArea > h1.ci > a > img {float: left; width: 100%;}
		.headArea > .menuArea > .logout {width: 60px; padding: 20px 10px;}
		.headArea > .menuArea > .logout > a {width: 40px; padding: 0; border-radius: 50%; background: url('../img/anticall/iconLogout.png') center center no-repeat #b9c1cb;}
		.headArea > .menuArea > .logout > a > span {display: none;}
		.headArea > .menuArea > .toggle {top: 20px; left: 10px; display: block;}

		.headArea > .menuArea > .naviMenu {position: absolute; top: 80px; left: 0%; margin: 0; display: none; width: 100%; height: auto; box-sizing: border-box; border-top: 1px #5e8fff solid; background-color: #fff; z-index: 10;}
		.headArea > .menuArea > .naviMenu > li {position: relative; float: none; width: 100%; height: auto; background: #363f4e;}
		.headArea > .menuArea > .naviMenu > li:hover {background: #262f3d;}
		.headArea > .menuArea > .naviMenu > li > a {position: absolute; top: 0; left: 0; display: block; width: 100%; height: 40px; z-index: 1;}
		.headArea > .menuArea > .naviMenu > li > p {position: relative; display: block; width: 100%; height: 40px; box-sizing: border-box; padding: 10px; line-height: 20px; font-size: 18px; font-weight: 500; color: #fff; text-align: center;}
		.headArea > .menuArea > .naviMenu > li > .icon {display: none;}
		.headArea > .menuArea > .naviMenu > li > .subMenu {position: relative; display: block; top: 0; left: 0; width: 100%; height: auto; background-color: #475061;}
		.headArea > .menuArea > .naviMenu > li > .subMenu > li {float: none; display: block; width: 100%; min-width: inherit; box-sizing: border-box; padding: 0 20px; height: 40px; background: none; transition: all 0.3s;}
		.headArea > .menuArea > .naviMenu > li > .subMenu > li > a {display: block; width: 100%; height: 100%; line-height: 40px; font-size: 14px; font-weight: 300; color: #fff; text-align: center;}
	}

	#contentArea {position: relative; display: block; width: 100%; max-width: 1200px; height: auto; min-height: 800px; margin: 0 auto; box-sizing: border-box; padding: 60px 0;}


	/* home & dashBoard start */
	.dashBoard01Area h3,
	.dashBoard02Area h3 {width: 100%; height: 60px; box-sizing: border-box; padding: 20px 0 20px 30px; line-height: 20px; font-size: 18px; font-weight: 500; color: #fff; background: url('../img/anticall/pointArticle.png') left center no-repeat;}
	.dashBoard01Area h3 > span,
	.dashBoard02Area h3 > span {font-size: 14px; font-weight: 300;}

	.dashBoard01Area {width: 100%; height: auto; margin: 0 auto 40px; padding-bottom: 39px; border-bottom: 1px #5a657d dashed; transition: all 0.3s;}
	.dashBoard01Area .mainTopLeft,
	.dashBoard01Area .mainTopRight {float: left; width: 50%; height: auto; box-sizing: border-box; padding: 0 20px; transition: all 0.3s;}

	@media screen and (max-width: 1220px) {
		.dashBoard01Area {width: 960px;}
		.dashBoard01Area .mainTopLeft,
		.dashBoard01Area .mainTopRight {padding: 0 10px;}
	}
	@media screen and (max-width: 980px) {
		#contentArea {max-width: 960px;}
		.dashBoard01Area {width: 100%; min-width: 320px; max-width: 960px; margin: 0 auto;}
		.dashBoard01Area .mainTopLeft,
		.dashBoard01Area .mainTopRight {float: none; width: 100%; max-width: 640px; min-width: 300px; margin: 0 auto;}
	}
	@media screen and (max-width: 660px) {
		.dashBoard01Area .mainTopLeft,
		.dashBoard01Area .mainTopRight {float: none; width: 100%; max-width: 640px; min-width: 300px; padding: 0 10px; margin: 0 auto;}
	}

	.dashBoard01Area .mainTopLeft > .titleArea {width: 100%; height: 120px; box-sizing: border-box; padding-bottom: 40px;}
	.dashBoard01Area .mainTopLeft > .titleArea > h2 {width: 100%; height: 60px; line-height: 60px; font-size: 36px; font-weight: 300; color: #fff; padding: 0; letter-spacing: -1px; transition: all 0.3s;}
	.dashBoard01Area .mainTopLeft > .titleArea > h2 > span {font-weight: 700; color: #5e8fff;}
	.dashBoard01Area .mainTopLeft > .titleArea > .welcomeText {width: 100%; height: 20px; line-height: 20px; font-size: 14px; font-weight: 300; color: #fff; padding: 0;}

	@media screen and (max-width: 1220px) {
		.dashBoard01Area .mainTopLeft > .titleArea > h2 {font-size: 28px;}
	}
	@media screen and (max-width: 660px) {
		.dashBoard01Area .mainTopLeft > .titleArea {max-width: 640px; min-width: 300px; height: auto; min-height: 50px; padding: 0 10px; box-sizing: border-box; padding-bottom: 40px;}
		.dashBoard01Area .mainTopLeft > .titleArea > h2 {height: auto; line-height: 30px; font-size: 24px;}
		.dashBoard01Area .mainTopLeft > .titleArea > .welcomeText {height: 30px; line-height: 30px;}
	}

	.dashBoard01Area .mainQucikMenuArea {width: 100%; height: 220px;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu {width: 560px; height: 160px; border-radius: 20px; overflow: hidden; background-color: #fff; transition: all 0.3s;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li {position: relative; float: left; display: block; width: 140px; height: 100%; box-sizing: border-box; padding: 20px 0 20px; background: url('../img/anticall/quickMenuLine.png') right center no-repeat; transition: all 0.3s;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li:last-child {background: none;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li > a {position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; z-index: 1;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li > .icon {display: block; width: 80px; height: 80px; margin: 0 auto; border-radius: 50%; background-position: center center; background-repeat: no-repeat; background-color: #f9f9f9; transition: all 0.3s;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li:nth-child(1) > .icon {background-image: url('../img/anticall/iconQucikMenu01.png');}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li:nth-child(2) > .icon {background-image: url('../img/anticall/iconQucikMenu02.png');}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li:nth-child(3) > .icon {background-image: url('../img/anticall/iconQucikMenu03.png');}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li:nth-child(4) > .icon {background-image: url('../img/anticall/iconQucikMenu04.png');}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li > p {display: block; width: 100%; height: 20px; line-height: 20px; font-size: 18px; font-weight: 300; color: #222; text-align: center; padding-top: 20px; transition: all 0.3s;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li:hover > .icon {background-color: #b9c1cb;}
	.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li:hover > p {color: #5e8fff; transition: all 0.3s;}

	@media screen and (max-width: 1220px) {
		.dashBoard01Area .mainQucikMenuArea > ul.quickMenu {width: 460px;}
		.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li {width: 25%;}
		.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li > .icon {width: 60px; height: 60px;}
		.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li > p {font-size: 16px;}
	}
	@media screen and (max-width: 980px) {
		.dashBoard01Area .mainQucikMenuArea {height: 200px; padding-bottom: 40px;}
		.dashBoard01Area .mainQucikMenuArea > ul.quickMenu {width: 100%; max-width: 640px; min-width: 300px; height: 140px; margin: 0 auto;}
	}
	@media screen and (max-width: 660px) {
		.dashBoard01Area .mainQucikMenuArea > ul.quickMenu {border-radius: 10px;}
		.dashBoard01Area .mainQucikMenuArea > ul.quickMenu > li > p {font-size: 14px; letter-spacing: -1px;}
	}

	.dashBoard01Area .mainTopRight > ul.tabMenuArea {width: 280px; height: 60px; border-radius: 20px 20px 0 0; overflow: hidden; transition: all 0.3s;}
	.dashBoard01Area .mainTopRight > ul.tabMenuArea > li {float: left; width: 140px; height: 60px; background-color: #b9c1cb; transition: all 0.3s;}
	.dashBoard01Area .mainTopRight > ul.tabMenuArea > li.on {background-color: #5e8fff;}
	.dashBoard01Area .mainTopRight > ul.tabMenuArea > li:hover {background-color: #929ca9;}
	.dashBoard01Area .mainTopRight > ul.tabMenuArea > li.on:hover {background-color: #4468b9;}
	.dashBoard01Area .mainTopRight > ul.tabMenuArea > li > a {float: left; display: block; width: 100%; height: 100%; box-sizing: border-box; padding: 20px; line-height: 20px; font-size: 18px; font-weight: 300; color: #fff; text-align: center; text-decoration: none; transition: all 0.3s;}
	.dashBoard01Area .mainTopRight > .noticeArea {width: 100%; height: 280px; border-radius: 0 20px 20px 20px; overflow: hidden; background-color: #fff;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice {width: 100%; height: 280px;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li {width: 100%; height: 60px; box-sizing: border-box; border-top: 1px #ddd solid; background-color: #fff;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul {width: 100%; height: 100%;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.title {float: left; width: 80%; height: 100%; box-sizing: border-box; padding: 10px 20px; line-height: 20px; font-size: 14px; font-weight: 300; color: #222; border-right: 1px #ddd solid; overflow: hidden;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.title > a {line-height: 20px; font-size: 14px; font-weight: 300; color: #222; white-space: nowrap; transition: all 0.3s;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.title > span {font-size: 12px; font-weight: 300; color: #999; transition: all 0.3s;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.etc {float: left; width: 20%; height: 100%; text-align: center;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.etc > p {display: block; width: 40px; height: 20px; line-height: 20px; font-size: 12px; font-weight: 500; color: #fff; text-align: center; margin: 20px auto; border-radius: 3px;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.etc > p.on {background-color: #5e8fff;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.etc > p.off {background-color: #b4bdc7;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li:nth-child(1) {width: 100%; height: 40px; border-top: 0px #5e8fff solid; background-color: #f9f9f9;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li:nth-child(1) li.title {padding: 0 20px; line-height: 40px; font-size: 14px; font-weight: 500; color: #222; text-align: left; transition: all 0.3s;}
	.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li:nth-child(1) li.etc {line-height: 40px; font-size: 14px; font-weight: 500; color: #222; text-align: center; margin: 0 auto; transition: all 0.3s;}

	@media screen and (max-width: 1220px) {
	}
	@media screen and (max-width: 660px) {
		.dashBoard01Area .mainTopRight > ul.tabMenuArea {width: 240px; height: 40px; border-radius: 10px 10px 0 0;}
		.dashBoard01Area .mainTopRight > ul.tabMenuArea > li {width: 120px; height: 40px;}
		.dashBoard01Area .mainTopRight > ul.tabMenuArea > li > a {padding: 10px 20px; font-size: 16px;}
		.dashBoard01Area .mainTopRight > .noticeArea {border-radius: 0 10px 10px 10px;}
		.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.title > a {font-size: 12px; border-radius: 0 10px 10px 10px;}
		.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li > ul > li.title > span {font-size: 10px;}
		.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li:nth-child(1) li.title {font-size: 12px;}
		.dashBoard01Area .mainTopRight > .noticeArea > ul.notice > li:nth-child(1) li.etc {font-size: 12px;}
	}

	.dashBoard02Area {width: 100%; height: auto; margin: 0 auto; transition: all 0.3s;}
	.dashBoard02Area .educationArea {width: 100%; height: 300px; box-sizing: border-box; padding: 0 20px; transition: all 0.3s;}
	.dashBoard02Area .educationArea > .graphArea {position: relative; width: 100%; height: 240px; border-radius: 20px; overflow: hidden; background-color: #fff;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu {position: absolute; top: 0; left: 0; display: block; width: 180px; height: 240px; z-index: 1; transition: all 0.3s;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li {position: relative; width: 100%; height: 60px; box-sizing: border-box; padding-left: 70px; line-height: 60px; font-size: 16px; font-weight: 300; color: #fff; background-image: url('../img/anticall/iconCarSet.png'); background-repeat: no-repeat; background-color: #b9c1cb; transition: all 0.3s;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li > a {position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; z-index: 1;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li.on {background-color: #5e8fff;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li:nth-child(1) {background-position: left 0;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li:nth-child(2) {background-position: left -60px;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li:nth-child(3) {background-position: left -120px;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li:nth-child(4) {background-position: left -180px;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li:hover {background-color: #929ca9;}
	.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li.on:hover {background-color: #4468b9;}
	.dashBoard02Area .educationArea > .graphArea > .graphList {width: 100%; height: 240px; box-sizing: border-box; padding-left: 180px; text-align: center;}
	.dashBoard02Area .educationArea > .graphArea > .graphList > img.sampleGraph {width: 100%; max-width: 900px; vertical-align: middle;}

	@media screen and (max-width: 1220px) {
		.dashBoard02Area {width: 960px;}
		.dashBoard02Area .educationArea {padding: 0 10px;}
	}
	@media screen and (max-width: 980px) {
		.dashBoard02Area {width: 100%; max-width: 640px; min-width: 300px;}
		.dashBoard02Area .educationArea > .graphArea > ul.graphMenu {width: 140px;}
		.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li {font-size: 14px;}
		.dashBoard02Area .educationArea > .graphArea > .graphList {padding-left: 140px; text-align: center;}
	}
	@media screen and (max-width: 660px) {
		.dashBoard02Area h3 {height: 80px; background: url('../img/anticall/pointArticle.png') left 20px no-repeat;}
		.dashBoard02Area h3 > span {display: block;}
		.dashBoard02Area .educationArea {height: auto;}
		.dashBoard02Area .educationArea > .graphArea {height: auto; border-radius: 10px;}
		.dashBoard02Area .educationArea > .graphArea > ul.graphMenu {position: relative; display: block; width: 100%; height: 60px;}
		.dashBoard02Area .educationArea > .graphArea > ul.graphMenu > li {float: left; width: 25%; height: 40px; line-height: 40px; font-size: 16px; padding-left: 0; text-align: center; background-image: none;}
		.dashBoard02Area .educationArea > .graphArea > .graphList {height: auto; padding: 0;}

	}
	/* home & dashBoard end */


	/* Sub Content Start */
	.searchArea {width: 100%; height: 30px; padding: 10px 0;}
	.searchArea > div {float: right; height: 30px;}
	.searchArea > div > select {margin-right: 10px;}
	.searchArea > div > input[type=text] {width: 150px; margin-right: 5px;}
	.searchArea > div > a.bt60 {margin-left: 5px;}
		
	.whereIsArea {width: 100%; max-width: 1200px; height: 60px; margin: 0 auto; box-sizing: border-box; padding: 20px 0 20px 30px; background: url('../img/anticall/pointWhereIs.png') left center no-repeat; transition: all 0.3s;}
	.whereIsArea > ul {width: 100%; height: 20px;}
	.whereIsArea > ul > li {float: left; min-width: 40px; height: 20px; margin-right: 0px; box-sizing: border-box; padding-right: 20px; line-height: 20px; font-size: 14px; font-weight: 300; color: #fff; background: url('../img/anticall/iconWhereis.png') right center no-repeat;}
	.whereIsArea > ul > li:last-child {padding: 0; margin: 0; background: none;}

	.content01Area {width: 100%; height: auto; margin: 0 auto; transition: all 0.3s;}
	.content01Area > ul.subMenuArea {width: 100%; height: 50px; overflow: hidden; transition: all 0.3s;}
	.content01Area > ul.subMenuArea > li {float: left; min-width: 80px; height: 50px; box-sizing: border-box; padding: 0; background-color: #b9c1cb; transition: all 0.3s;}
	.content01Area > ul.subMenuArea > li:first-child {border-radius: 20px 0 0 0;}
	.content01Area > ul.subMenuArea > li:last-child {border-radius: 0 20px 0 0;}
	.content01Area > ul.subMenuArea > li.on {background-color: #5e8fff;}
	.content01Area > ul.subMenuArea > li:hover {background-color: #929ca9;}
	.content01Area > ul.subMenuArea > li.on:hover {background-color: #4468b9;}
	.content01Area > ul.subMenuArea > li > a {float: left; display: block; width: 100%; height: 100%; box-sizing: border-box; padding: 15px 20px; line-height: 20px; font-size: 16px; font-weight: 300; color: #fff; text-align: center; text-decoration: none; transition: all 0.3s;}

	.content01Area > .cBox {width: 100%; height: auto; min-height: 600px; box-sizing: border-box; padding: 40px; border-radius: 0 20px 20px 20px; overflow: hidden; background-color: #fff;}
	.content01Area > .cBox > ul.tabMenuArea {width: 100%; height: 40px; overflow: hidden; border-bottom: 1px #444 solid; transition: all 0.3s;}
	.content01Area > .cBox > ul.tabMenuArea > li {float: left; height: 40px; box-sizing: border-box; padding: 0; background-color: #777; transition: all 0.3s;}
	.content01Area > .cBox > ul.tabMenuArea > li.on {background-color: #5e8fff;}
	.content01Area > .cBox > ul.tabMenuArea > li:hover {background-color: #666;}
	.content01Area > .cBox > ul.tabMenuArea > li.on:hover {background-color: #4468b9;}
	.content01Area > .cBox > ul.tabMenuArea > li > a {float: left; display: block; width: 100%; height: 100%; box-sizing: border-box; padding: 10px 20px; line-height: 20px; font-size: 13px; font-weight: 300; color: #fff; text-align: center; text-decoration: none; transition: all 0.3s;}
	.content01Area > .cBox > ul.tabMenuArea.tab1 > li {width: 50%; height: 60px; border-left: none;}
	.content01Area > .cBox > ul.tabMenuArea.tab2 > li {width: 50%; height: 60px; border-left: none;}
	.content01Area > .cBox > ul.tabMenuArea.tab3 > li {width: 33%; height: 60px; border-left: none;}
	.content01Area > .cBox > ul.tabMenuArea.tab3 > li:nth-child(2) {width: 34%; height: 60px; border-left: none;}
	.content01Area > .cBox > ul.tabMenuArea.tab4 > li {width: 25%; height: 60px; border-left: none;}
	.content01Area > .cBox > ul.tabMenuArea.tab5 > li {width: 20%; height: 60px; border-left: none;}
	
	.content01Area > .cBox div.bottomBtnArea {width: 260px; height: 40px; padding: 20px 0; margin: 0 auto; text-align: center;}
	.content01Area > .cBox div.bottomBtnArea a {float: left; display: block; width: 120px; height: 40px; margin: 0 5px; line-height: 40px; font-size: 16px; font-weight: 300; color: #fff; text-align: center; background-color: #444;}

	@media screen and (max-width: 1220px) {
		.whereIsArea,
		.content01Area {width: 960px;}
	}
	@media screen and (max-width: 980px) {
		.whereIsArea,
		.content01Area {width: 640px;}
		.content01Area > .cBox {padding: 40px 20px;}
	}
	@media screen and (max-width: 660px) {
		.whereIsArea,
		.content01Area {width: 100%; max-width: 640px; min-width: 300px; box-sizing: border-box;}
		.whereIsArea {padding: 20px 10px 20px 40px; background: url('../img/anticall/pointWhereIs.png') 10px center no-repeat;}
		.content01Area {padding: 0 10px;}
		.content01Area > ul.subMenuArea > li:first-child {float: none; width: 100%; border-radius: 20px 20px 0 0;}
		.content01Area > ul.subMenuArea > li:nth-child(1+n) {display: none;}

		.content01Area > .cBox {border-radius: 0 0 20px 20px;}
	}


	.cBox .halfBox {position: relative; float: left; width: 50%; box-sizing: border-box; padding: 0 10px; transition: all 0.3s;}
	@media screen and (max-width: 660px) {
		.cBox .halfBox {float: none; width: 100%; box-sizing: border-box; padding: 0;}
	}
	table.sTable {table-layout: fixed; width: 100%; margin: 20px auto 0; padding: 0; border-collapse: collapse; border-spacing: 0; font-size: 13px; border-top: 1px #444 solid;}
	table.sTable th {color: #222; line-height: 20px; background-color: #f9f9f9;}
	table.sTable th,
	table.sTable td {padding: 5px; border-top: 0; border-left: 1px #ddd solid; border-right: 0; border-bottom: 1px #ddd solid; font-weight: 300; text-align: center;}
	table.sTable tr th:last-child,
	table.sTable tr td:last-child {border-right: 1px #ddd solid;}
	table.sTable td {color: #222; line-height: 20px;}

	table.sTable th.s01 {font-weight: 500; font-size: 14px; line-height: 30px; background-color: #fffad9;}
	table.sTable th.s02 {font-weight: 500; font-size: 14px; line-height: 30px; background-color: #faeceb;}
	table.sTable th.s03 {font-weight: 500; font-size: 14px; line-height: 30px; background-color: #ede9f4;}
	table.sTable th.s04 {font-weight: 500; font-size: 14px; line-height: 30px; background-color: #fef2e9;}
	table.sTable th.s05 {font-weight: 500; font-size: 14px; line-height: 30px; background-color: #f6faed;}
	table.sTable th.s06 {font-weight: 500; font-size: 14px; line-height: 30px; background-color: #edf7f9;}
	
	table.sTableWrite {table-layout: fixed; width: 100%; margin: 20px auto 0; padding: 0; border-collapse: collapse; border-spacing: 0; font-size: 13px; border-top: 1px #444 solid;}
	table.sTableWrite th {color: #222; line-height: 20px; background-color: #f9f9f9;}
	table.sTableWrite th,
	table.sTableWrite td {padding: 5px; border-top: 0; border-left: 1px #ddd solid; border-right: 0; border-bottom: 1px #ddd solid; font-weight: 300;}
	table.sTableWrite tr th:last-child,
	table.sTableWrite tr td:last-child {border-right: 1px #ddd solid;}
	table.sTableWrite td {color: #222; line-height: 20px;}
	/* Sub Content End */


	/* paging start */
	.pagingArea {width: 100%; height: 30px; margin-top: 20px; text-align: center;}
	.pagingArea .pager {display: inline-block; height: 30px;}
	.pagingArea .btnPager {float: left; display: block; width: 30px; height: 30px; background-image: url('../img/btnPager.png');}
	.pagingArea .btnFirst {background-position: 0 0;}
	.pagingArea .btnPrev {background-position: -30px 0;}
	.pagingArea .btnNext {background-position: -60px 0;}
	.pagingArea .btnEnd {background-position: -90px 0;}
	.pagingArea .btnFirst:hover {background-position: 0 -30px;}
	.pagingArea .btnPrev:hover {background-position: -30px -30px;}
	.pagingArea .btnNext:hover {background-position: -60px -30px;}
	.pagingArea .btnEnd:hover {background-position: -90px -30px;}
	.pagingArea a.page {float: left; display: block; width: 30px; height: 30px; line-height: 30px; font-size: 12px; font-weight: 300; text-align: center; color: #777;}
	.pagingArea a:hover.page {color: #fff; background-color: #444;}
	/* paging end */






	/* bottom start */
	.bottomArea {position: relative; width: 100%; height: 80px; margin-top: 60px; box-sizing: border-box; padding: 10px 0; text-align: center; background-color: rgba(0,0,0,0.3);}
	/* bottom start */


	/* Up Slideanimate */
	.slideanim {visibility: hidden;}
	.slideUp {
	  animation-name: slide;
	  -webkit-animation-name: slide;
	  animation-duration: 1.0s;
	  -webkit-animation-duration: 1.0s;
	  visibility: visible;
	}
	@keyframes slide {
		0% {
		  opacity: 0;
		  transform: translateY(70%);
		} 
		100% {
		  opacity: 1;
		  transform: translateY(0%);
		}
	}
	@-webkit-keyframes slide {
		0% {
		  opacity: 0;
		  -webkit-transform: translateY(70%);
		} 
		100% {
		  opacity: 1;
		  -webkit-transform: translateY(0%);
		}
	}
	/* Up Slideanimate */